body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  line-height: 1,4;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  color: #212121;
}
.link:hover {
  color: #2196f3;
}
.contaсt {
  text-align: right;
}
.logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19;
  color: #2196f3;
  text-align: left;
}
.dark {
  color: #000000;
  }
.dark:hover {
  color:#000000;
}
.light {
  color: #FFFFFF;
}
.list {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
.item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,19;
    text-align: center;
    color: #757575;
}
.hero {
  background: #2f303a;
  color: aliceblue;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  text-align: center;
}
.button {
  background-color:#2196F3;
  color:#FFFFFF;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.selection {
  background-color: #F5F4FA;
  color:#212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-style: normal;
}
.colection {
color:#212121;
font-style: normal;
font-weight: 700;
font-size: 14px;
text-transform: uppercase;
}
.title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}
.topic {
  font-weight: 700;
  font-size: 36px;
  line-height:1.16;
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.footer {
  background: #2f303a;
}
.address {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1,71;
}